.postingBox {
  width: 100%;
  padding: 0px 10px;
  background-color: #e6e6e6;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 4px;
}

.upperBoxSide {
  width: 100%;
  padding: 8px 0px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  border-bottom: 2px solid #777;
}

.upperBoxSide .userImage {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 100%;
}

.upperBoxSide input {
  all: unset;
  width: calc(100% - 48px);
  height: 100%;
  padding: 8px 20px;
  font-size: 1.7rem;
  background-color: #f3f3f3;
  border-radius: 50px;
  cursor: pointer;
}

.upperBoxSide input::placeholder {
  color: #444;
  font-weight: 600;
}

.lowerBoxSide {
  width: 100%;
  padding: 6px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.lowerBoxSide .postingOption {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  font-size: 1.7rem;
  font-weight: 600;
  color: #444;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.postingOption:hover {
  background-color: #f6f6f6;
}

.postingOption .optIcon {
  font-size: 2rem;
  margin: 1px 3px 0px 0px;
}
