.rightbar {
  flex: 3;
  height: calc(100vh - 8vh);
  overflow-y: scroll;
  position: sticky;
  top: 8vh;
}

.rightbar::-webkit-scrollbar {
  width: 7px;
}

.rightbar::-webkit-scrollbar-track {
  background: transparent;
}

.rightbar::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0);
  border-radius: 10px;
}

.rightbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(85, 85, 85, 1);
}

.rightbarWrapper {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/** For Advertisement */
.advertisementCont {
  width: 100%;
}

.advertisementImage {
  width: 100%;
  object-fit: contain;
  filter: brightness(0.9);
  border-radius: 8px;
  cursor: pointer;
}

/** For Birthday */
.birthdayCont {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.birthdayHeader {
  padding: 5px 0px;
  border-bottom: 1px solid #555;
}

.birthdayHeader h3 {
  color: #333;
  font-size: 2rem;
}

.birthdayContent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 0px;
}

.birthdayImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.birthdayText {
  width: calc(100% - 50px);
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
}

/** For Online Friends */
.onlineFriend {
  width: 100%;
}

.onlineFriendHdr {
  padding: 5px 0px;
  border-bottom: 1px solid #555;
}

.onlineFriendHdr h3 {
  color: #333;
  font-size: 2rem;
}

.onlineFriendHdr span {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2px;
}

.onlineFriendList {
  width: 100%;
  padding: 10px 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
